body{

    background-image: url("../assets/imagem/fundo.gif");
    background-color: aliceblue; 
    text-align: center;
}

p{
    color: blue;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center

}

h1{
    color: navy;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center
}

h2{
    color: blue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    color: darkcyan;
    text-align: left; 
    font-family: Arial, Helvetica, sans-serif;
}

h4{
    color: orangered;
    text-align: left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase
}


ul{
    color: chocolate;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;

}

#p2{
    text-transform: uppercase;
    color: black
}

#p3{
    font-size: 25px;
    color: black;

}

#imagem2{
    width: 800px;
    height: 600px;
    border: 1px black;
    text-align: center;
}